*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #000000 85%, #b30000 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

.navigation
{
	background: linear-gradient(to top, #000000 70%, #b30000 100%) !important;
}

.brandName
{
	margin-bottom: 0 !important;
	color: #fff;
	font-size: 25pt;
	font-family: 'Poppins', sans-serif;
}


.brandName .initials
{
	color: #e50914;
	font-size: 40pt;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

#navbarSupportedContent
{
	align-items: bottom !important;
}

.userName
{
	font-size: 12pt;
	color: #fff !important;
}

.userName .fas
{
	font-size: 20pt;
	color: #fff !important;
}

.footer-copyright
{
	color: #fff;
}

.footer-copyright a
{
	color: #fff;
}
